<%= javascript_include_tag 'rails_admin/rails_admin_files_tree' %>
<%= stylesheet_link_tag 'rails_admin/rails_admin_files_tree' %>

<%= form.send :hidden_field, field.file_path_field, id: field.file_path_dom_name %>
<div id="file-tree-input">
  <file-browser></file-browser>
</div>
